.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.tableRoot {
    width: 100%;
    overflow-x: auto;
}

.table {
    min-width: 650,
}

.root{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400;
}
.input{
    margin-left: 8;
    flex: 1;
}
.icon-button {
    padding: 10px
}

.paddedHorizontal {
    padding: 16px 0;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.wrappedText {
    text-overflow: ellipsis
}

.error {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;
}